*{
  margin: 0;
}

.buttons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  max-width: 700px;
  margin: auto;
}

#reset{
  background-color: red;
  border: 0;
  border-radius: 30px;
  color: white;
  padding: 16px;
  padding-left: 25px;
  padding-right: 25px;
  transition: all, ease, 0.3s, ;
  font-family: arial;
  font-size: 1.4rem;
}

#reset:hover{
  background-color: rgba(255, 0, 0, 0.555);
}

.splitter{
  width: 20px;
}

#changeRes{
  background-color: red;
  font-family: arial;
  font-size: 1.4rem;
  color: white;
  border: 0;
  border-radius: 30px;
  padding: 16px;
  padding-left: 25px;
  padding-right: 25px;
  transition: all, ease, 0.3s, ;
}

#changeRes:hover{
  background-color: rgba(255, 0, 0, 0.555);

}


div.main{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
}

#grid-master{
  display: grid;
  max-width: 500px;
  min-width: 500px;
  max-height: 500px;
  min-height: 500px;
  align-items: center;
  justify-content: center;
  border: 10px solid black;
  border-radius: 10px ;
}

.gridDivs{
  display: flex;
  height: 100%;
  width: 100%;
  border: 1px solid black; 
}
