*{
  margin: 0;
}

.buttons{
  display: flex;
  justify-content: center;
}

#changeRes{
  background-color: aqua;
  border: 0;
  border-radius: 30px;
  padding: 16px;
  transition: all, ease, 0.3s, ;
}

#changeRes:hover{
  background-color: rgba(0, 255, 255, 0.534);

}


div.main{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#grid-master{
  padding-top: 1px;
  display: grid;
  max-width: 500px;
  min-width: 500px;
  max-height: 500px;
  min-height: 500px;
  align-items: center;
  justify-content: center;
  border: 9px solid black;
  border-radius: 10px ;
}

.gridDivs{
  display: flex;
  height: 100%;
  width: 100%;
  border: 1px solid black; 
}
